<ion-content>
  <div class="chat">
    <div class="card">
      <div class="card-header msg_head">
        <!-- <div class="d-flex bd-highlight">
          <div class="img_cont">
            <img src="../../../assets/user.png" class="rounded-circle user_img">
            <span class="online_icon"></span>
          </div>
          <div class="user_info">
            <span>TUNEL DO AMOR</span>
            <p></p>
          </div>
          <div class="video_cam">
            <span><i class="fas fa-video"(click)="startRecording()"></i></span>
            <span><i class="fas fa-phone"(click)="stopRecording()"></i></span>
          </div>
        </div> -->
      </div>

      <div class="card-body msg_card_body" ngx-auto-scroll>
        <ng-container *ngFor="let message of messages">
          <div class="d-flex mb-4"
            [ngClass]="{'justify-content-start':message.sender!=myIdx,'justify-content-end':message.sender==myIdx}">
            <ng-container *ngIf="message.type=='text'">
              <div [ngClass]="{'msg_cotainer':message.sender!=myIdx,'msg_cotainer_send':message.sender==myIdx}"
                [innerText]="message.text">
                <span class="msg_time">{{message.time}}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="message.type=='image'">
              <div [ngClass]="{'msg_cotainer':message.sender!=myIdx,'msg_cotainer_send':message.sender==myIdx}">
                <ion-img title="FOTO" [text]="message.time" scheme="light" [src]="message.text" ionImgViewer>
                </ion-img>
                <span class="msg_time">{{message.time}}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="message.type=='audio'">
              <div [ngClass]="{'msg_cotainer':message.sender!=myIdx,'msg_cotainer_send':message.sender==myIdx}">
                <audio controls>
                  <source [src]="message.text">
                </audio>
                <span class="msg_time">{{message.time}}</span>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>

      <div class="card-footer">
        <div class="input-group">
          <div class="input-group-append">
            <label for="file" class="input-group-text attach_btn">
              <span><i class="fas fa-camera"></i></span>

            </label>
            <input type="file" name="file" id="file" accept="image/*" capture="user"
              (change)="handleFileInput($event.target.files)">

          </div>
          <div class="input-group-append">
            <label for="audio-file" class="input-group-text mic_btn">
              <span><i class="fas fa-microphone"></i></span>

            </label>
            <input type="file" name="audio-file" id="audio-file" accept="audio/*" capture="user"
              (change)="handleAudioFileInput($event.target.files)">

          </div>

          <textarea name="" class="form-control type_msg" [(ngModel)]="currentMessage"
            placeholder="Digite sua mensagem"></textarea>
          <div class="input-group-append" (click)="sendMsg()">
            <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>